html {

}

.page-home {

    .scroll-content {
        // overflow: hidden;
    }

    .act-home {
        width: 100%;
        // height: 700px;
        height: 100%;
        overflow: hidden;
        // border: 1px solid #000;
    
        .act-home-index {
            // display: flex;
            box-shadow: 0px 0px 55px 30px #000;
            width: 100%;
            height: 50%;
            // background-color: red;
            background: url("../../assets/imgs/bg.jpg") center no-repeat;
            background-size: 100% 100%;
            padding: 10px 0 0 0;
            perspective: 1000;

            .act-home-title {
                color: #fff;
                text-align: center;
                width: 100%;
            }

            .act-home-show {
                text-align: center;
                color: #fff;
                margin-top: 20px;
                font-size: 16px;
            }

            .act-show-panel {
                width: 80%;
                margin: 0 auto;
                margin-top: 20px;
                height: 50%;
                box-shadow: 0px 0px 0px 0px #d3d3d3;
                border-radius: 5px;
                background-color: rgba(255,255,255,0.3);
                cursor: pointer;
                position: relative;
                transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                transition: transform 0.2s ease, box-shadow 0.3s linear;
            

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    box-shadow: 0px 0px 35px 15px #fff inset;
                    border-radius: 5px;
                }

                &.panel {
                    // box-shadow: 0px 0px 35px 10px #d3d3d3;
                }
            }
        }
    
        .act-home-list {
            // display: flex;
            height: 50%;
            width: 100%;
            background-color: #fff;
            box-shadow: 0px 0px 55px 30px #000;
            flex: 1;

            .act-home-list-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 100%;

                .act-home-list-item {
                    flex: 1;
                    width: 100%;
                    list-style: none;
                    border-bottom: 1px solid #ff4500; 
                    position: relative;

                    .act-home-list-item-content {
                        text-align: center;
                        height: 100%;
                        background-color: #ededed;

                        &:nth-child(2n) {
                            background-color: #e8e8e8;
                        }

                        &>div {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        
                    }
                }
            }
            
        }
    }
}

